.container{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%; 
    width: 15%;
    height: 70%;
    margin: 10px;
}
.methodContainer{
    width: 5%;
    height: 20%;
}
#bigContainer{
    display: flex;
    justify-content: center;
}
.resultBox{
    border: 1px solid black;
    width: 15%;
    border-radius: 15px;
    padding: 10px;
    margin: 7px;
}
.cont{
    display: flex;
    justify-content: center;
    height: 140px;
    align-items: center;
}
.stringResult{
    text-align: center;
    font-size: 25px;
    height: 50%;
    border-bottom: 1px solid;

}
.resultResult{
    margin: 0;
    text-align: center;
    font-size: 25px;
    height: 50%;
    width: 95%;
    border: 1px solid black;
    padding: 5px;
    border-radius: 15px;
    margin-top: 5px;
}

.mainContainer{
   
}