.container{
    background-color: rgb(155 155 155 / 80%);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    height: 95%;
    border-radius: 15px;
    margin: 1%;
}
.text{
    font-size:25px;
    font-weight: bold;
text-align: center;
}
